/* background of box - #1f1f1f */
/* backgorun of page -  #141414 */
/* box thingies -  #333333 */
/* active box - #b8da55 */
body {
    background-color: #141414;
}

.container {
    background-color: #1f1f1f;

    width: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 5rem auto;
    border-radius: 1rem;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.avatar-container {
    background-image: url('./images/avatar.jpeg');
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

a {
    all: unset;
}

h1 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    margin-top: 1rem;
    font-weight: 100;
}

p,
h2,
a {
    font-size: 0.9rem;
    margin: 0;
    font-weight: 100;
}

p {
    margin: 1.5rem 0;
    color: rgba(255, 255, 255, 0.7);
}

h2 {
    color: #b8da55;
}

a {
    background-color: #333333;
    padding: 1rem 0;
    width: 100%;
    border-radius: 0.5rem;
    font-weight: 900;
    cursor: pointer;
}

a:hover {
    background-color: #b8da55;
    color: black;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;

}